In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', None)

In [3]:
df_weather = pd.read_csv('気象データ.csv', encoding = 'shift-jis')

In [4]:
df_weather.columns

Index(['ダウンロードした時刻：2021/11/10 21:30:43', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [5]:
df_weather.rename(columns =  { 'ダウンロードした時刻：2021/11/10 21:30:43':'年月','Unnamed: 1': '札幌:平均気温','Unnamed: 2': '札幌:降水量','Unnamed: 3': '札幌:日照時間',
                               'Unnamed: 4': '東京:平均気温','Unnamed: 5': '東京:降水量','Unnamed: 6': '東京:日照時間',
                               'Unnamed: 7': '名古屋:平均気温','Unnamed: 8': '名古屋:降水量','Unnamed: 9': '名古屋:日照時間',
                               'Unnamed: 10': '大阪:平均気温', 'Unnamed: 11': '大阪:降水量', 'Unnamed: 12': '大阪:日照時間',
                               'Unnamed: 13': '福岡:平均気温', 'Unnamed: 14': '福岡:降水量', 'Unnamed: 15': '福岡:日照時間'}, inplace=True)

In [6]:
#df_weather.columns

In [7]:
df_weather = df_weather.drop(df_weather.index[[0,1,2]])

In [8]:
df_weather = df_weather.set_index('年月')

In [9]:
#df_weather.mean()

In [10]:
#df_weather.shape

In [11]:
#df_weather.columns

In [12]:
#df_weather.index

In [13]:
#df_weather.iloc[4:10 ,2:6]

In [14]:
#df_weather.loc['2021年1月':'2021年6月' ,'札幌:日照時間':'東京:日照時間']

In [15]:
print("各都市の気温の平均値")
print(df_weather["札幌:平均気温"].astype(float).mean())
print(df_weather["東京:平均気温"].astype(float).mean())
print(df_weather["名古屋:平均気温"].astype(float).mean())
print(df_weather["大阪:平均気温"].astype(float).mean())
print(df_weather["福岡:平均気温"].astype(float).mean())

各都市の気温の平均値
10.815384615384618
17.161538461538463
17.43846153846154
18.092307692307692
18.615384615384617

In [16]:
print("各都市の降水量の平均値")
print(df_weather["札幌:降水量"].astype(float).mean())
print(df_weather["東京:降水量"].astype(float).mean())
print(df_weather["名古屋:降水量"].astype(float).mean())
print(df_weather["大阪:降水量"].astype(float).mean())
print(df_weather["福岡:降水量"].astype(float).mean())

各都市の降水量の平均値
71.96153846153847
153.3846153846154
179.30769230769232
164.19230769230768
167.69230769230768

In [17]:
print("各都市の日照時間の平均値")
print(df_weather["札幌:日照時間"].astype(float).mean())
print(df_weather["東京:日照時間"].astype(float).mean())
print(df_weather["名古屋:日照時間"].astype(float).mean())
print(df_weather["大阪:日照時間"].astype(float).mean())
print(df_weather["福岡:日照時間"].astype(float).mean())

各都市の日照時間の平均値
165.21538461538464
158.59230769230768
170.7923076923077
175.65384615384616
170.53076923076924

In [18]:
print("各都市の気温の標準偏差")
print(df_weather["札幌:平均気温"].astype(float).std())
print(df_weather["東京:平均気温"].astype(float).std())
print(df_weather["名古屋:平均気温"].astype(float).std())
print(df_weather["大阪:平均気温"].astype(float).std())
print(df_weather["福岡:平均気温"].astype(float).std())

各都市の気温の標準偏差
9.900155398935762
7.245750301790522
7.932689588189122
7.688136048317297
7.395251421672125

In [19]:
print("各都市の降水量の標準偏差")
print(df_weather["札幌:降水量"].astype(float).std())
print(df_weather["東京:降水量"].astype(float).std())
print(df_weather["名古屋:降水量"].astype(float).std())
print(df_weather["大阪:降水量"].astype(float).std())
print(df_weather["福岡:降水量"].astype(float).std())

各都市の降水量の標準偏差
31.81486912492172
109.75581872315355
109.73387096014356
105.78821974065654
230.32174402177225

In [20]:
print("各都市の日照時間の標準偏差")
print(df_weather["札幌:日照時間"].astype(float).std())
print(df_weather["東京:日照時間"].astype(float).std())
print(df_weather["名古屋:日照時間"].astype(float).std())
print(df_weather["大阪:日照時間"].astype(float).std())
print(df_weather["福岡:日照時間"].astype(float).std())

各都市の日照時間の標準偏差
61.48040129658999
38.156333278117394
24.611056510521905
24.90912200328143
30.0913161508816

In [21]:
df_ice = pd.read_csv('アイスクリーム.csv',encoding ='shift-jis')

In [22]:
df_ice = df_ice[df_ice['地域区分'] == '01100 札幌市']

In [23]:
#df_ice = df_ice[[ '356 アイスクリーム・シャーベット【円】']]
#df_ice

In [24]:
df_ice['札幌の気温'] = [20.1, 13.1, 6.3, -1.6, -4.4, -2.2, 3.8, 7.9, 13.1, 18.9, 23.9, 22.9, 18.8]
df_ice['東京の気温'] = [24.2, 17.5, 14, 7.7, 5.4, 8.5, 12.8, 15.1, 19.6, 22.7, 25.9, 27.4, 22.3]
df_ice['名古屋の気温'] = [25.4, 18, 14, 7.4, 5, 7.5, 12, 15.2, 19.5, 23.4, 27.4, 27.8, 24.1]
df_ice['大阪の気温'] = [25.8, 18.7, 14.7, 8.7, 6.2, 8.7, 12.2, 15.5, 20, 23.9, 27.9, 28.1, 24.8]
df_ice['福岡の気温'] = [24.5, 19.4, 15.3, 8.5, 7, 10.2, 13.5, 16.7, 20.4, 24.2, 28.9, 27.5, 25.9]

In [25]:
df_ice['札幌のアイス平均支出'] = [938, 482, 513, 718, 614, 543, 651, 550, 610,  1065, 1417, 1426, 868]
df_ice['東京のアイス平均支出'] = [1133, 784, 682, 587, 509, 432, 550, 686, 889,  1014, 1282, 1385, 1053]
df_ice['名古屋のアイス平均支出'] = [1183, 703, 589, 463, 537, 402, 604, 806, 967, 1232, 1375, 1219, 1055]
df_ice['大阪のアイス平均支出'] = [822, 548, 445, 568, 511, 531, 608, 798, 939, 1209, 1499, 1462, 1000]
df_ice['福岡のアイス平均支出'] = [1057, 954, 912, 758, 773, 665, 604, 935, 1074, 1167, 1310, 1435, 1018]

In [27]:
#df_ice.columns

In [28]:
df_ice = df_ice[['時間軸（月次）',
                 '札幌の気温',
                 '札幌のアイス平均支出',
                 '東京の気温',
                 '東京のアイス平均支出',
                 '名古屋の気温',
                 '名古屋のアイス平均支出',
                 '大阪の気温',
                 '大阪のアイス平均支出',
                 '福岡の気温',
                 '福岡のアイス平均支出'
                 ]]

In [29]:
df_ice = df_ice.set_index('時間軸（月次）')
df_ice

,札幌の気温,札幌のアイス平均支出,東京の気温,東京のアイス平均支出,名古屋の気温,名古屋のアイス平均支出,大阪の気温,大阪のアイス平均支出,福岡の気温,福岡のアイス平均支出
時間軸（月次）,,,,,,,,,,
2020年9月,20.1,938,24.2,1133,25.4,1183,25.8,822,24.5,1057
2020年10月,13.1,482,17.5,784,18.0,703,18.7,548,19.4,954
2020年11月,6.3,513,14.0,682,14.0,589,14.7,445,15.3,912
2020年12月,-1.6,718,7.7,587,7.4,463,8.7,568,8.5,758
2021年1月,-4.4,614,5.4,509,5.0,537,6.2,511,7.0,773
2021年2月,-2.2,543,8.5,432,7.5,402,8.7,531,10.2,665
2021年3月,3.8,651,12.8,550,12.0,604,12.2,608,13.5,604
2021年4月,7.9,550,15.1,686,15.2,806,15.5,798,16.7,935
2021年5月,13.1,610,19.6,889,19.5,967,20.0,939,20.4,1074
2021年6月,18.9,1065,22.7,1014,23.4,1232,23.9,1209,24.2,1167
2021年7月,23.9,1417,25.9,1282,27.4,1375,27.9,1499,28.9,1310
2021年8月,22.9,1426,27.4,1385,27.8,1219,28.1,1462,27.5,1435
2021年9月,18.8,868,22.3,1053,24.1,1055,24.8,1000,25.9,1018

In [30]:
df_ice.dtypes

札幌の気温          float64
札幌のアイス平均支出       int64
東京の気温          float64
東京のアイス平均支出       int64
名古屋の気温         float64
名古屋のアイス平均支出      int64
大阪の気温          float64
大阪のアイス平均支出       int64
福岡の気温          float64
福岡のアイス平均支出       int64
dtype: object

In [31]:
from sklearn import datasets
df_ice.corr().style.background_gradient(axis=None)